<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a class="navbar-brand" href="#">Ember London Talk - Bartosz Jakubowiak</a>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-5">Fast Table Development using Ember-Data Models</h1>
        <p></p>
    </div>
</div>

<div class="container">

    {{outlet}}

    <footer>
        <p>&copy; IG 2017</p>
    </footer>
</div>